.footer-mobile {
	display: none;

	@include bp(48em) {
		display: block;
	}
	// .footer-mobile__inner
	&__inner {
		padding: 10rem 0 18rem;
	}
	// .footer-mobile__content
	&__content {
		margin-bottom: 10.4rem;
	}
	// .footer-mobile__title
	&__title {
		text-align: center;
		font-family: "Druk Cyr";
		font-size: 11rem;
		font-weight: 500;
		line-height: 110%; /* 60.5px */
		text-transform: uppercase;
	}
}
.mobile-content {
	// .mobile-content__top
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 6.4rem;
	}
}
.mobile-top {
	// .mobile-top__item
	&__item {
		width: 45%;
	}
	// .mobile-top__title
	&__title {
		font-size: 3.6rem;
		font-weight: 500;
		line-height: normal;

		margin-bottom: 2rem;
	}
	// .mobile-top__list
	&__list {
		font-size: 2.8rem;
		line-height: normal;

		li {
			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
	}
	// .mobile-top__wrapper
	&__wrapper {
		&:not(:last-child) {
			margin-bottom: 6.2rem;
		}
	}
}
.mobile-bottom {
	text-align: center;
	// .mobile-bottom__info
	&__info {
		display: inline-block;
		margin-bottom: 7.6rem;
	}
	// .mobile-bottom__phone
	&__phone {
		display: inline-block;
		font-size: 3.6rem;
		line-height: normal;

		margin-bottom: 2rem;
	}
	// .mobile-bottom__politic
	&__politic {
		display: inline-block;
		font-size: 3rem;
		line-height: normal;

		margin-bottom: 2rem;

		a {
			position: relative;
			&::after {
				content: "";
				width: 100%;
				height: 0.15rem;
				background-color: $main;

				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 1;
			}
		}
	}
	// .mobile-bottom__copyright
	&__copyright {
		font-size: 2.4rem;
		line-height: normal;
	}
	// .mobile-bottom__social
	&__social {
		ul {
			justify-content: center;
			column-gap: 5.6rem;
		}
		li {
			line-height: 1;
			font-size: 8rem;
		}
	}
}
