.intro {
	padding-bottom: 6.4rem;
	// .intro__inner
	&__inner {
		position: relative;
	}
	// .intro__title
	&__title {
		color: $pink;
		font-family: "Druk Cyr";
		font-size: 19.965rem;
		font-weight: 500;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;

		margin-bottom: 3rem;

		span {
			color: $green;
		}
	}
	// .intro__pictures
	&__pictures {
		position: relative;
		height: 63.3rem;
		width: 100%;
	}
	// .intro__footer
	&__footer {
		position: absolute;
		bottom: -6.4rem;
		left: 0;
		width: 100%;
		height: 15.2rem;
	}
}
.intro-pictures {
	// .intro-pictures__block
	&__block {
		cursor: pointer;
		overflow: hidden;
		background-color: $main;

		position: absolute;
		z-index: 1;
		border-radius: 1.5rem;

		picture {
			width: 100%;
			height: 100%;

			img,
			source {
				width: 100%;
				height: 102%;
				object-fit: cover;
			}
		}
		&--block {
			&-1 {
				width: 12.3636rem;
				height: 10.2rem;

				top: 0;
				right: 50.836rem;
			}
			&-2 {
				width: 17.1rem;
				height: 15.7rem;

				bottom: 0;
				left: 65.8rem;
			}
			&-3 {
				width: 26.3rem;
				height: 12.2rem;

				top: 0;
				left: 28.1rem;
			}
			&-4 {
				width: 29.732rem;
				height: 10.7067rem;

				top: 0;
				left: 75.9rem;
			}
			&-5 {
				width: 5.6849rem;
				height: 5.7049rem;
				border-radius: 50%;

				bottom: 11.7rem;
				right: 25.212rem;
			}
			&-6 {
				width: 27.7868rem;
				height: 15.8rem;

				bottom: 18.3rem;
				right: 59.5rem;
			}
			&-7 {
				width: 8.6rem;
				height: 7.955rem;

				top: 0;
				left: 0;
				border-radius: 1.4rem;
			}
			&-8 {
				width: 26.3rem;
				height: 29rem;

				top: 0;
				right: 0;
			}
			&-9 {
				width: 9.2093rem;
				height: 9.2093rem;

				top: 14.702rem;
				left: 27.629rem;
			}
			&-10 {
				width: 14.3469rem;
				height: 8.871rem;
				border-radius: 1.7rem;

				top: 0;
				left: 10.753rem;
			}
			&-11 {
				width: 21rem;
				height: 10.9rem;

				bottom: 13.1rem;
				left: 26rem;
			}
			&-12 {
				width: 18.8rem;
				height: 10.1rem;

				bottom: 24rem;
				left: 48.8rem;
			}
			&-13 {
				width: 26.9rem;
				height: 13.4rem;

				top: 13.2rem;
				right: 58.7rem;
			}
			&-14 {
				width: 18.4073rem;
				height: 10.3541rem;

				bottom: 26.65rem;
				left: 27.6rem;
			}
			&-15 {
				width: 23.2rem;
				height: 13.2rem;

				bottom: 23.8rem;
				left: 1.8rem;
			}
			&-16 {
				width: 9.1182rem;
				height: 18.2644rem;

				bottom: 13.438rem;
				right: 13.8rem;
			}
			&-17 {
				width: 26.8rem;
				height: 23.5rem;

				bottom: 26.6rem;
				right: 29.4rem;
				border-radius: 1.555rem;
			}
			&-18 {
				width: 11.4686rem;
				height: 6.4511rem;

				bottom: 14.956rem;
				left: 11.8rem;
				border-radius: 1.2rem;
			}
			&-19 {
				width: 12.1rem;
				height: 15rem;

				bottom: 19.1rem;
				left: 70.1rem;
			}
			&-20 {
				width: 22.2956rem;
				height: 14.1881rem;

				bottom: 9.819rem;
				right: 33.6rem;
			}
			&-21 {
				width: 25.1rem;
				height: 12.6rem;

				top: 11.3rem;
				left: 0;
			}
			&-22 {
				width: 19rem;
				height: 9.8rem;

				top: 0;
				right: 28.7rem;
			}
			&-23 {
				width: 27.8rem;
				height: 13.4rem;

				top: 13.2rem;
				left: 55.7rem;
			}
			&-24 {
				width: 14.3143rem;
				height: 13.5721rem;

				bottom: 0;
				left: 85.3rem;
			}
			&-25 {
				width: 10.4rem;
				height: 6.6rem;

				bottom: 15rem;
				right: 0;
				border-radius: 1.2rem;
			}
			&-26 {
				width: 11.4104rem;
				height: 8.1166rem;

				bottom: 23.6rem;
				right: 0;
				border-radius: 1.2rem;
			}
			&-27 {
				width: 14.4438rem;
				height: 9.401rem;

				top: 14.6rem;
				left: 39.1rem;
			}
			&-28 {
				width: 14.1rem;
				height: 11.5rem;

				bottom: 9.5rem;
				left: 49.4rem;
				border-radius: 1.2rem;
			}
			&-29 {
				width: 15.8323rem;
				height: 10.2rem;

				top: 0;
				left: 57.2rem;
			}
			&-30 {
				width: 11.3845rem;
				height: 8.0982rem;

				bottom: 6.4rem;
				right: 58.5rem;
			}
			&-31 {
				width: 6.3593rem;
				height: 5.2464rem;

				bottom: 18.76rem;
				right: 25.2rem;
				border-radius: 0.6rem;
			}
		}
	}
}

.intro-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// .intro-footer__top
	&__top {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	// .intro-footer__left
	&__left {
		position: relative;
		color: $white;
		font-size: 2rem;
		font-weight: 400;
		line-height: 140%; /* 28px */
		padding-left: 12.24rem;

		width: 49.55rem;

		&::before {
			content: "";
			width: 9.4018rem;
			height: 0.1rem;
			background: rgba($green, 0.5);

			position: absolute;
			top: 1.641rem;
			left: 0;
		}
	}
	// .intro-footer__right
	&__right {
	}
	// .intro-footer__bottom
	&__bottom {
	}
	// .intro-footer__btn
	&__btn {
	}
}
