.tariff {
	margin-bottom: 22.6rem;

	@media (max-width: 48em) {
		margin-bottom: 24rem;
	}
	// .tariff__header
	&__header {
		text-align: center;
		margin-bottom: 9rem;

		color: $white;
		font-family: "Druk Cyr";
		font-size: 10rem;
		font-weight: 500;
		line-height: 1.1; /* 110px */
		text-transform: uppercase;

		@include bp(48em) {
			margin-bottom: 10rem;
		}
	}
}
.tariff-item {
	display: flex;
	align-items: center;
	border-radius: 3rem;
	position: relative;

	@include bp(48em) {
		border-radius: 4rem;
		flex-direction: column;
	}

	&:not(:last-child) {
		margin-bottom: 4rem;
	}

	&:nth-child(1) {
		background-color: $pink;
	}

	&:nth-child(2) {
		background-color: $violet;
	}

	&:nth-child(3) {
		background-color: $green;
	}

	&::before,
	&::after {
		content: "";
		width: 5.1rem;
		height: 5.1rem;

		border-radius: 50%;
		background-color: $main;

		position: absolute;
		top: 50%;
		z-index: 1;

		transform: translateY(-50%);

		@include bp(48em) {
			width: 9rem;
			height: 9rem;
		}
	}

	&::after {
		right: -2.2rem;

		@include bp(48em) {
			right: -4rem;
		}
	}

	&::before {
		left: -2.2rem;

		@include bp(48em) {
			left: -4rem;
		}
	}
	// .tariff-item__name
	&__name {
		color: $main;
		font-size: 2.8rem;
		font-weight: 500;
		line-height: normal;

		height: 100%;
		display: flex;
		align-items: center;
		width: 58.1rem;
		padding: 7.2rem 1rem 7.2rem 8rem;

		border-right: 0.3rem dashed $main;

		@include bp(48em) {
			border: 0;
			border-bottom: 0.4rem dashed $main;

			font-size: 3rem;
			text-align: center;
			width: 100%;
			padding: 4.8rem 17rem;
		}
	}
	// .tariff-item__info
	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1 1 auto;
		height: 100%;

		padding: 5.6rem 14.327rem 5.6rem 9rem;

		@include bp(48em) {
			width: 100%;
			padding: 2.4rem 14.6rem 4.8rem;
			flex-direction: column;
		}
	}

	&__sunny {
		width: 9.6842rem;
		height: 8rem;

		left: 14.379rem;
		top: -4.667rem;

		transform: rotate(-7.376deg);
	}
	&__shapes {
		width: 9.1607rem;
		height: 9rem;

		right: 35.922rem;
		top: -4.5rem;

		transform: rotate(-15deg);
	}
	&__megafon {
		width: 8.6814rem;
		height: 7rem;

		bottom: -3.9rem;
		right: 67.768rem;

		transform: rotate(-12.401deg);
	}
}
.tariff-icon {
	position: absolute;

	img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	@include bp(48em) {
		display: none;
	}
}

.tariff-info {
	// .tariff-info__value
	&__value {
		color: $main;
		font-size: 2rem;
		line-height: 140%; /* 28px */

		@include bp(48em) {
			font-size: 4rem;
			margin-bottom: 1rem;
		}

		span {
			font-size: 2.8rem;
			font-weight: 500;
			line-height: normal;

			@include bp(48em) {
				font-size: 5.6rem;
			}
		}
	}
	// .tariff-info__amount
	&__amount {
		color: $main;
		font-size: 2rem;
		font-weight: 600;
		line-height: 140%; /* 28px */

		@include bp(48em) {
			font-size: 2.8rem;
		}
	}
	// .tariff-info__text
	&__text {
		color: $main;
		font-size: 2rem;
		font-weight: 500;
		line-height: normal;
		width: 16rem;

		@include bp(48em) {
			width: 100%;
			text-align: center;
			margin-bottom: 6.8rem;
			font-size: 2.8rem;
		}
	}

	&__coast {
		@include bp(48em) {
			margin-bottom: 3.8rem;
		}
	}
}
